p{text-align: center;}
p{color: red;}
p{border: 5px solid green}
p{text-transform: uppercase;}
p{text-decoration: underline;}
p{line-height: 30px;
font-style:italic;
font-size: 600;
font-family:"Times New Roman";}
li{color: blue;}